h1 {
  text-align: center;
  margin-top: 200px;
  font-family: Courier, monospace;
  font-style: bold;
  font-size: 2.5em;


}

.current-letter {
border-bottom: solid black;
}

.correct {
  color: rgb(129, 214, 0)
}

.wrong {
  color: red;
  border-bottom: solid red;
}
